/* 
color-main: rgb(255, 20, 147)
color-main-sec: #FEB0BD
*/

:root
{
    --mainbackcolor: rgb(255, 20, 147, 0.62);
    --fadedbackcolor: rgb(255, 20, 147, 0.1);
    --fontColor: #D0D3D4;
    --menuBackcolor: rgb(255, 20, 147, 0.9);

}

html
{
    font-size: 2em  /* This is get a global rem. 1rem = 2em */;
    position: relative;

}

*
{
    font-family: 'Pontano Sans';
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*Instead of a normalize.css file I am using this suite to overrun the Agent Style Sheet */
}

header  img
{
    width: 2rem;
    display: inline-block;
    margin: 0.1rem;
     
}


.mainHeader  i
{
    margin: 0.3rem;
    float: right;
    cursor: pointer;
    font-size: 1.2rem;
    width: 10%;
    font-size: 0.7rem;
    color: var(--mainbackcolor);
   

}



.mainHeader
{
    position: fixed; 
    width: 100%;
    margin: 0 auto;
    top: 0;
    left: 0;
    z-index: 30000;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0 9px 1px grey; 

}


.menucontainer
{
    text-align: right;
    margin: 0.7rem;
    margin-right: 0; 
    position: fixed;
    top: 0;
    bottom: 20%;
    height: 100vh;
    width: 100%;
    right: 0;
    z-index: 5;
    display: none;

   
    
}
.menu
{
    font-size:0.97rem;
    display: inline-block;
    width: 99%;
    margin: 0 0;
    text-align: center;
    background-color: var(--menuBackcolor);
    box-shadow: 0px 0 9px 1px rgb(255, 255, 255);
    height: 100vh;
    position: relative;
    
   
    
}

.menu  li strong
{
    padding: 0.1rem;
    background-color: white;
    color: var(--mainbackcolor);
    border: none;
}


.menu  li
{
        display: inline-block;
        width: 50%;
        margin: 0.5rem 0;
        color: white;
        font-weight: lighter;
        cursor: pointer;

}

.menu .menuout
{
    position: absolute;
    top: 4%;
    right: 7%;
    background-color: white;
    padding: 0.2rem 0.3rem;
    color: var(--mainbackcolor);
    border-radius: 10rem;
    font-weight: lighter;
    font-size: 0.5rem;
}

.menusocialI
{
    margin-top: 0rem;
    color: whitesmoke;
    font-size: 0.6rem;
}

.menusocialI i
{
    margin: 0 0.5rem;
    margin-bottom: 0.4rem;
}

.menusocialI i:hover
{
    transform: rotate(310deg);
    transition: 1s;
}




.showcase
{
    background-image: linear-gradient(to top right, var(--mainbackcolor), var(--fadedbackcolor)), url("../images/theycode.jpg"); 
    background-position: bottom;
    background-size: cover;
    font-size: 0.7rem;
    height: 87vh;
    text-align: center;
    clip-path: polygon(0% 0 , 100% 10%, 100% 70%, 0% 100%);
    position: relative;
    margin-top: 2rem;
}

.showcase h1
{
   transform: translateY(7rem);
    color: white;
    font-family: 'Monoton', cursive;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    width: 100%;
    font-weight: lighter; /* on test*/
   
    
}





.foundersBox .thefounderquote
{
    width: 90%;
    margin: 0 auto;
    font-size: 0.6rem;
    background-image: linear-gradient(to top left,  var(--fadedbackcolor), var(--mainbackcolor) );
    font-weight: bold;
    color: var(--fontColor);
    border-radius: 20px 8px;
    height: 70vh;
  
}

.foundersBox p
{
    margin: 0.5rem ;
    text-align: left;
    font-family: 'Pontano Sans', sans-serif; 
    font-weight: bolder;
    width: 90%;
    
}

.foundersBox p:nth-child(2)
{
    margin-top: 0;
}

.foundersBox .mark2
{
    font-size: 3rem;
    text-align: right;
    font-family: 'Spirax', cursive;
    color: rgba(0, 0, 0, 0.555)}

.foundersBox .quotemark
{
    font-size: 3rem;
    text-align: left;
    font-family: 'Spirax', cursive;
    margin: 0;
    color: rgba(0, 0, 0, 0.582)
}

.foundersBox .founderimage
{
    width: 85%;
    margin: 0 auto;
    text-align: center;
    margin-top: -3rem;
    border-radius: 20px 8px;
    position: relative;
    
    
}

.founderimage img
{
    width: 100%;
    border-radius: 20px 8px;
    
}

.founderimage .foundername
{
    background-color: rgb(255, 20, 147, 0.32);
    width: 60%;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 10%;
    font-size: 0.5rem;
    font-weight: lighter;
    

}

.foundername p:nth-child(2)
{
    font-size: 0.35rem;
    padding: 0;
    color: black;
    font-weight: bolder;
    
}

.cores
{
    text-align: center;
    margin-top: 2rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.leadership h2:nth-child(1),
.Impact h2:nth-child(1),
.Purpose h2:nth-child(1)
{
    
    padding: 1rem;
    border: 2px solid var(--mainbackcolor);
    width: 50%;
    margin: 1rem auto;
}

.leadership h2:nth-child(2),
.Impact h2:nth-child(2),
.Purpose h2:nth-child(2)
{
    
    width: 80%;
    margin: 0 auto;
}

.cores p
{
    font-size: 0.58rem;
    text-align: left;
    width: 90%;
    margin: 0 auto;
    margin-top: 0.5rem;
    line-height: 0.9rem;
    
    
}

.testimonies
{
    /* background-color: rgb(254, 176, 189, 0.1); */
    
   
}

.testimonies h2
{
    font-size: 0.7rem;
    margin: 1.2rem 0;
    text-align: center;
}

.testimonies img
{
    width: 25%;
    border-radius: 100px 13px;
    text-align: left;
    margin: 0 1rem;

}

.testimonycard p
{
    text-align: right;
    font-size: 0.7rem;
}

.testimonycard
{
    border: rgb(254, 176, 189) 1px solid;
    padding: 0.4rem;
    margin: 0.9rem 0.6rem;
    box-shadow: 1px 1px 3px  1px rgb(254, 176, 189);
    background-color: var(--fadedbackcolor)
}

.testimonycard h3
{
    color: rgb(254, 176, 189);
    text-align: right;
    margin: 0.7rem 0
}

.testimonycard b
{
    color: rgba(0, 0, 0, 0.555);
    font-size: 2rem;
}

.ourTechnologies img
{ 
    width: 100%;
    margin: 2rem 0;
    text-align: center;
}

.messageUs
{
    width: 97%;
    text-align: left;
    margin: 2rem auto;
    border: 1px solid var(--mainbackcolor);
    padding: 1rem 1rem;
    position: relative;
    

}

.messageUs h2
{
    background-color:var(--menuBackcolor);
    color: white;
    width: 40%;
    margin: 0 auto;
    font-size: 1.2rem;
    left: 30%;
    position: absolute;
    top: -4.5%;
    text-align: center;

}

.messageInput
{
    margin: 1rem 0;
}

.messageUs p
{
   font-size: 0.5rem;
   margin-bottom: -0.4rem;
    
}

.messageInput input
{
    padding: 0.1rem;
    width: 100%;
    border: 1px solid rgb(255, 20, 147, 0.42);
}

.messageUs button
{
    padding: 0.3rem 0.8rem;
    position: absolute;
    bottom: -4.5%;
    left: 29%;
    background-color: rgb(255, 20, 147, 0.92);
    border: none;
    color:  white;
    font-family: monospace;
    font-size: 0.5rem;
    cursor: pointer;
    width: 50%;

}

#messagebox
{
    padding-bottom: 5rem;
    color: green;
    font-family: monospace;
}


.signup
{
    font-size: 0.6rem;
    text-align: center;
    background-color:rgba(254, 176, 189, 0.868);
    margin-bottom: 2rem;
}

.signup h2
{
    width: 70%;
    display: inline-block;
}

.signup .signbutton
{
    width: 90%;
    display: inline-block;
    margin: 0 auto;
    
   
}

.signup .signbutton button
{
    
    background-color: white;
    outline: none;
    border: 1px solid var(--mainbackcolor);
    border-radius: 5px;
    width: 45%;
    display: inline-block;
    padding: 0.6rem 0.2rem;
    margin: 0.7rem 0;
    font-size: 0.6rem;
    font-weight: bolder
  

}

.signup .signbutton button:hover
{
    background-color:   rgb(255, 20, 147);
    color: white;
    transform: scale(1.1);
    transition:  1s;
    border-radius: 5px;
}

.blog
{
    margin: 2rem 0;
}

.blog img
{
    width: 100%;
    content: hidden;
    font-family: 'Pontano Sans';
    position: relative;
    z-index: -4000;
    margin: 0 auto;
}

.blogintro
{
    background-color: rgb(255, 20, 147);
    border-radius: 12px;
    padding: 0.4rem 0;
    width: 90%;
    margin: 1.3rem auto;
    margin-top: -3rem;
    color: white;
    z-index: 44;
    top: 80%;
    box-shadow: -1px 4px 8px 2px grey;


}

.blogintro h2
{
    font-size: 0.8rem;
    font-family: 'Pontano Sans';;
    font-weight: bolder;
    border-bottom: 2px solid rgb(247, 235, 237);
    text-align: center;
   
}

.blogintro p
{
    font-size: 0.63rem;
    line-height: 1.1rem;
    width: 85%;
    margin: 0 auto;
}

.blogintro  .read, 
.blogintro  .readon,
.blogintro .watch
{
    font-size: 0.6rem;
   color: rgba(175, 170, 170, 0.801);
   width: 45%;
   display: inline-block;
   text-align: center;
}

.blogintro .readon
{
    font-size: 0.9rem;
    width: 90%;
    margin: 0 auto;
    color: white;
    cursor: pointer;
}

.socialplatform i{
    color:  rgb(255, 20, 147);
    display: inline-block;
    width: 12%;

}

.socialplatform i:hover
{
    transition: 0.72s;
    transform: rotate(360deg);
    cursor: pointer;
}

.socialplatform
{
    text-align: center;
    margin: 0.7rem 0;
    
}

footer
{
    background-color:rgba(0, 0, 0, 0.774);
    color: white;
    font-size: 0.5rem;
    font-weight: lighter;
    text-align: center;
    padding: 1.1rem;
    font-size: 0.7rem;
    text-align: left;
    padding-bottom: 0.3rem;
}

footer ul li
{
    display: inline-block;
    width: 40%;
    margin: 0.3rem;
cursor: pointer;
}

footer p
{
    font-family: monospace;
    color: green;
    font-size: 0.5rem;
}


/* Animations */
 @keyframes sliderightmenu
 {
     0%
     {
         opacity: 0;
         width: 30%;
         transform: translateX(9rem);
     }

     20%
     {
         opacity: 0.3;
         width: 40%;
         transform: translateX(3rem);
     }

     50%
     {
         opacity: 0.6;
         width: 90%;
         transform: translateX(1rem);
     }

     100%
     {
         opacity: 0.9;
         width: 98%;
         transform: translateX(0);
     }
 }


@media(min-width: 1009px)
{
    header
    {
        text-align: center;
    }
    header  img
    {
        width: 5rem;
        display: inline-block;
        margin: 0.3rem;
         
    }

    .mainHeader  i
    {
        display: none;
    }

.showcase
{
    background-image: linear-gradient(to top right, rgba(254, 176, 189, 0.945), rgba(254, 176, 189, 0.568) ), url("/images/theycode.jpg");
    background-position: bottom;
    background-size: cover;
    font-size: 1.2rem;
    height: 87vh;
    text-align: center;
    clip-path: polygon(0% 0 , 100% 10%, 100% 70%, 0% 100%);
    position: relative;
    margin-top: 5rem;
   
  
}

.showcase h2
{
    color: white;
    font-family: 'Monoton', cursive;
    letter-spacing: 0.3rem;
    position: absolute;
   top: 40%;
   left: 10%;
   right: 0;
}




.menucontainer
{
    text-align: right;
    margin: 0;
    margin-right: 0; 
    display: block;
    animation: none;
    position: static;
    height: 2vh;
    width: 100%;
    margin: 0rem 0 5.3rem 0;
   
    
    
}
.menu
{
    font-size:0.6rem;
    width: 100%;
    margin: 3rem 0;
    text-align: center;
    background-color: var(--menuBackcolor);
    box-shadow: 0px 0 9px 1px rgb(255, 255, 255);
    height: auto;
    padding-top: 0.7rem;
    animation: none;
   
   
    
}


.menu  li
{
        display: inline-block;
        width: 10%;
        margin: 0 0.2rem;
        color: white;
        font-weight: lighter;
        cursor: pointer;
        

}
.menu li strong
{
    border: none;
}
.menu li i
{
   display: none;
}

.menusocialI
{
    margin: 1.2rem 0;
    color: whitesmoke;
    font-size: 0.6rem;
}

.menusocialI i
{
    margin: 0 0.5rem;
}

.menusocialI i:hover
{
    transform: rotate(310deg);
    transition: 1s;
}



.showcase h1
{
   
    color: white;
    font-family: 'Monoton', cursive;
    letter-spacing: 0.1rem;
    font-size: 2.6rem;
    
}

.showcase
{
    margin-top: 2.2rem;
    background-position: center;
    background-image: linear-gradient(to top right, var(--mainbackcolor), var(--fadedbackcolor)), url("../images/theycode.jpg"); 
    background-position: bottom;
}

.foundersBox 
{
    width: 95%;
    margin: 0 auto;
}
.foundersBox .thefounderquote
{
    vertical-align: top;
    width: 48%;
    margin: 0 auto;
    font-size: 0.6rem;
    background-image: linear-gradient(to bottom left,  rgba(254, 176, 189, 0.245), rgba(254, 176, 189, 0.768) );
    font-weight: lighter;
    color: black;
    border-radius: 20px 8px;
    height: 45vh;
    display: inline-block;
  
}

.foundersBox .founderimage
{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: -3rem;
    border-radius: 20px 8px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    
    
    
}


.leadership,
.Impact, 
.Purpose
{
    width: 30%;
    display: inline-block;
}




.testimonies img
{
    width: 60%;
    border-radius: 100px 13px;
    text-align: left;
    margin: 0 1rem;

}
.testimonycard
{
    border: none;
    padding: 0.4rem;
    width: 29%;
    display: inline-block;
    margin: 0.9rem 0.6rem;
    box-shadow: none;
    background-color: rgba(254, 176, 189, 0.068);
    vertical-align: top;

}

.testimonies
{
    text-align: left;
}

.ourTechnologies 
{
    width: 74%;
    margin: 0 auto;
    text-align: center
}

.ourTechnologies img
{
    width: 60%;
    margin:0 auto;
}

.signup
{
    background-color:var(--fadedbackcolor);
    width: 80%;
    margin: 3rem auto;
    padding: 2rem 0;

}

.signup .signbutton button
{
    
    background-color: white;
    outline: none;
    border: 1px solid rgb(254, 176, 189);
    border-radius: 5px;
    width: 25%;
    display: inline-block;
    padding: 0.6rem 0.2rem;
    margin: 0.7rem 0;
    font-size: 0.6rem;
    font-family: 'Pontano Sans';
    font-weight: bolder
  

}
.messageUs
{
    width: 60%;
    margin: 1rem auto;
}
.blogbox
{
    width: 30%;
    display: inline-block;
    vertical-align: bottom;
}

.blog
{
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

footer
{
    text-align: center;
}

}